<div class="col-md-6 col-sm-8">
  <p class="lead">Not a member? Please <a href="/#register?page={{
						vm.returnPage }}">register</a> first.</p>
  <form ng-submit="vm.onSubmit()">
    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{
      vm.formError }}</div>
    <div class="form-group">
      <label for="id">Оюутны ID</label>
      <input type="id" class="form-control" id="id" placeholder="Enter id" ng-model="vm.credentials.id">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
	     placeholder="Password" ng-model="vm.credentials.password">
    </div>
    <button type="submit" class="btn btn-default">Sign in!</button>
  </form>
</div>
