<head>
  <title>Бүртгүүлэх</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/loginstyle.css">
</head>
<body class="text-center">

  <form class="form-signin" ng-submit="vm.onSubmit()">

    <img class="mb-4" src="/images/berygoodlogo.png" alt="" width="270" height="80">

    <h1 class="h3 mb-3 font-weight-normal"></h1>
      <label for="id"></label>
    <input type="id" id="id" class="form-control" placeholder="Оюутны ID" ng-model="vm.credentials.id" required autofocus>
    <label for="password"></label>
    <input type="password" id="password" class="form-control" placeholder="Нууц үг" ng-model="vm.credentials.password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Намайг сана
      </label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Нэвтрэх</button>
    <p class="mt-5 mb-3 text-muted">&copy; Компьютерийн Ухаан 2018,    Bery&trade; </p>
  </form>

</body>
